# python
*.pyc
__pycache__/
.python-version

.snakemake/

# max os
.DS_Store

# hide old notebooks
notebooks/.ipynb_checkpoints/
notebooks/old/*.ipynb
# hide everyting in notebooks/old/
notebooks/old/

# hide contents in logs/
logs/

# hide content ending with .xslx or .html or parquet in any directory
*.xlsx
*.html
*.parquet

# hide contents in data/
data/