# python
*.pyc
__pycache__/
.python-version

.snakemake/

# max os
.DS_Store

# hide old notebooks
notebooks/.ipynb_checkpoints/
notebooks/old/*.ipynb

# hide contents of ending with logs.txt
logs/logs.txt
logs/training_logs.txt
*logs.txt

# hide content ending with .xslx and .html in any directory
*.xlsx
*.html
