# python
*.pyc
__pycache__/
.python-version

.snakemake/

# max os
.DS_Store

# hide contents of notebooks/old
notebooks/old/*
# hide contents of data, except .dvc files and .gitignore
data/*
!data/*.dvc
!data/.gitignore

# hide logs
logs/*
# hide old scripts
src/scripts/old/*

# .env files
.env